@import "./base.css";

#app {
    max-width: 1920px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

a,
.normal {
    text-decoration: none;
    color: rgb(197, 189, 189);
    transition: 0.4s;
    padding: 3px;
}

a.router-link-active,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}
